---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'

import logoFusion92 from '../assets/img/logo-fusion92.png'
import logoMindvolt from '../assets/img/logo-mindvolt.png'
import logoWebsiteGenii from '../assets/img/logo-website-genii.png'
import logoMorrison from '../assets/img/logo-morrison-m.svg'
import logoHennessey from '../assets/img/logo-hennessey.svg'

import expCocoa from '../../public/images/cocoa.jpg'
import expHooters from '../../public/images/hooters-logo.png'
import expPalmetto from '../../public/images/pd.jpg'
//import expJohnFoy from '../../public/images/the-strong-arm.png';
import expCck from '../../public/images/cck-isolated.svg'
import expTiffin from '../../public/images/tiffin.webp'
import expPriority from '../../public/images/priority.jpg'

import Collaboration from '../components/Collaboration.astro'
---

<DefaultLayout title="John Allen - Front End Web Developer - Birmingham, AL">
  <Hero />
  <section class="homepage-experience my-12">
    <div class="container">
      <h2 class="mb-8 text-4xl">Professional Experience</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-2">
        <Feature icon="mdi:cog" title="Fusion92" image={logoFusion92}>
          <span class="homepage-experience__dates"> 2023 - Present | Chicago, IL (Remote)</span>
          <span class="homepage-experience__title"> Sr. Developer</span>

          <ul class="homepage-experience__list">
            <li>Built and managed websites for enterprise clients within the Roots WordPress Ecosystem</li>
            <li>Added enhancements and features to various existing digital products</li>
            <li>Resolved accessibility issues identified in audit evaluations</li>
            <li>Implemented on-site technical SEO optimizations</li>
          </ul>
        </Feature>
        <Feature icon="mdi:cog" title="Morrison Agency" image={logoMorrison} invertLight={true}>
          <span class="homepage-experience__dates"> 2022-2023 | Atlanta, GA (Remote)</span>
          <span class="homepage-experience__title"> Sr. Front End Developer</span>

          <ul class="homepage-experience__list">
            <li>Built websites and added features for a variety of CMS (WordPress, Statamic, CraftCMS, Perch)</li>
            <li>Implemented on-site technical SEO optimization</li>
            <li>Built email marketing campaigns on an enterprise scale (Hooters.com, Zoo Atlanta)</li>
            <li>Managed overseas development teams for client projects</li>
            <li>Configured detailed analytics and reporting for client web properties</li>
          </ul>
        </Feature>
        <Feature icon="mdi:cog" title="Mindvolt" image={logoMindvolt}>
          <span class="homepage-experience__dates"> 2021-2022 | Birmingham, AL (Remote)</span>
          <span class="homepage-experience__title"> Sr. Front End Developer</span>

          <ul class="homepage-experience__list">
            <li>Developed websites for clients on a variety of content management systems</li>
            <li>Maintained client sites</li>
            <li>Audited and optimized sites from a technical SEO perspective</li>
            <li>Established methodologies and wrote documentation for development workflow</li>
          </ul>
        </Feature>
        <Feature icon="mdi:cog" title="Website Genii" image={logoWebsiteGenii} invertDark={true}>
          <span class="homepage-experience__dates"> 2020-2021 | Atlanta, GA (Remote)</span>
          <span class="homepage-experience__title"> Front End Developer</span>

          <ul class="homepage-experience__list">
            <li>Managed analytics and reporting for clients</li>
            <li>Performed keyword research and developed content plans</li>
            <li>Developed and maintained sites for clients</li>
            <li>Wrote documentation for sites and developed company processes</li>
            <li>Handled general support requests</li>
          </ul>
        </Feature>
        <Feature icon="mdi:cog" title="Hennessey Digital" image={logoHennessey}>
          <span class="homepage-experience__dates"> 2015-2020 | Los Angeles, CA (Remote)</span>
          <span class="homepage-experience__title"> Front End Developer / Sr. Developer</span>

          <ul class="homepage-experience__list">
            <li>
              Worked with and managed on-shore and off-shore developers to ensure projects were completed on time and to
              the highest of standards
            </li>
            <li>Developed websites for clients across a wide range of industries</li>
            <li>Converted sites built on proprietary CMS to WordPress</li>
            <li>Ensured sites followed WCAG accessibility guidelines where appropriate</li>
            <li>Worked to develop content QA and publishing methods for the company and clients</li>
            <li>
              Coordinated with PPC vendors to ensure proper tracking was in place (Phone calls, forms, chat, etc.), and
              implemented various A/B conversion optimization tests
            </li>
            <li>Performed technical SEO audits and fixed on-site issues discovered</li>
          </ul>
        </Feature>
      </div>
    </div>
  </section>

  <section class="worked-with my-32">
    <div class="container">
      <h2 class="mb-8 text-4xl">Selected Corporate Collaborations</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Collaboration icon="mdi:cog" image={expHooters} title="Hooters" logoBackgroundColor="bg-slate-100">
          <ul class="worked-with__skills">
            <li>Web Development</li>
            <li>Technical SEO</li>
            <li>Email Marketing</li>
          </ul>
          <ul class="worked-with__tech">
            <li>PerchCMS</li>
            <li>Punchh</li>
            <li>MJML</li>
            <li>HTML/CSS/PHP/JS</li>
          </ul>
        </Collaboration>
        <Collaboration icon="mdi:cog" image={expTiffin} title="Tiffin Motorhomes" logoBackgroundColor="bg-slate-100">
          <ul class="worked-with__skills">
            <li>Web Development</li>
            <li>Technical SEO</li>
          </ul>
          <ul class="worked-with__tech">
            <li>CraftCMS</li>
            <li>Vue.js</li>
            <li>HTML/CSS/PHP/JS</li>
          </ul>
        </Collaboration>
        <Collaboration
          icon="mdi:cog"
          image={expPalmetto}
          title="Palmetto Dunes Resort"
          logoBackgroundColor="bg-slate-100"
        >
          <ul class="worked-with__skills">
            <li>Web Development</li>
            <li>Technical SEO</li>
            <li>API Integration</li>
          </ul>
          <ul class="worked-with__tech">
            <li>Statamic CMS</li>
            <li>HTML/CSS/PHP/JS</li>
          </ul>
        </Collaboration>
        <Collaboration
          icon="mdi:cog"
          image={expCck}
          title="Chisholm, Chisholm, & Kilpatrick LTD."
          logoBackgroundColor="bg-slate-100"
        >
          <ul class="worked-with__skills">
            <li>Web Development</li>
            <li>Technical SEO</li>
            <li>Accessibility Remediation</li>
          </ul>
          <ul class="worked-with__tech">
            <li>WordPress</li>
            <li>HTML/CSS/PHP/JS</li>
          </ul>
        </Collaboration>
        <Collaboration icon="mdi:cog" image={expPriority} title="Priority Commerce" logoBackgroundColor="bg-slate-100">
          <ul class="worked-with__skills">
            <li>Web Development</li>
            <li>Technical SEO</li>
            <li>Accessibility Remediation</li>
            <li>API Integration</li>
          </ul>
          <ul class="worked-with__tech">
            <li>WordPress</li>
            <li>HTML/CSS/PHP/JS</li>
            <li>SEO</li>
          </ul>
        </Collaboration>
        <Collaboration
          icon="mdi:cog"
          image={expCocoa}
          title="Land O Lakes Cocoa Classics"
          logoBackgroundColor="bg-slate-100"
        >
          <ul class="worked-with__skills">
            <li>Web Development</li>
            <li>Technical SEO</li>
            <li>Accessibility Remediation</li>
          </ul>
          <ul class="worked-with__tech">
            <li>WordPress</li>
            <li>HTML/CSS/PHP/JS</li>
            <li>SEO</li>
          </ul>
        </Collaboration>
      </div>
    </div>
  </section>

  <section class="skills my-32">
    <div class="container">
      <h2 class="mb-8 text-4xl">Skills</h2>

      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:lighthouse" title="Technologies">
          <ul class="skills__list">
            <li>Vue / React / Gatsby / Astro</li>
            <li>Laravel</li>
            <li>Git</li>
            <li>MJML</li>
            <li>Bootstrap / Tailwind / jQuery</li>
            <li>And more... <a href="/contact">Lets chat!</a></li>
          </ul>
        </Feature>
        <Feature icon="mdi:content-save-check-outline" title="Content Management Systems (CMS)">
          <ul class="skills__list">
            <li>WordPress (including ACF, Roots, Underscores, etc.)</li>
            <li>Craft</li>
            <li>Statamic</li>
            <li>Perch</li>
          </ul>
        </Feature>
        <Feature icon="mdi:code-block-braces" title="Languages">
          <ul class="skills__list">
            <li>JavaScript (ES6+)</li>
            <li>CSS (SASS)</li>
            <li>HTML</li>
            <li>PHP</li>
            <li>SQL</li>
          </ul>
        </Feature>
        <Feature icon="mdi:tools" title="Tools">
          <ul class="skills__list">
            <li>Jira / Monday / Asana / ClickUp</li>
            <li>Slack / Teams / Zoom</li>
            <li>SEMRush / AHrefs / Screaming Frog</li>
            <li>Figma / Adobe Suite</li>
            <li>Webpack/Gulp/etc.</li>
            <li>Salesforce</li>
            <!-- Automation also include? -->
            <li>Punchh</li>
            <li>Etc.</li>
          </ul>
        </Feature>
      </div>
    </div>
  </section>
  <!--
  <section class="mt-64 mb-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">Counters</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="130" title="Stars" sub="On GitHub" />
        <Counter count="17" title="Accessible" sub="Components" />
        <Counter count="500" title="Commits" sub="Merged" />
        <Counter count="18+" title="Months" sub="Since launch" />
      </div>
    </div>
  </section>
   -->
</DefaultLayout>

<style lang="scss" is:global>
  @use '../assets/scss/base/breakpoint' as *;
  @use '../assets/scss/base/outline' as *;

  .skills {
    &__list {
      list-style-position: outside;
      padding-left: 1.5rem;
      margin: 0 0;
      li {
        list-style-type: disc;
        font-size: 0.9rem;
      }
    }
  }

  .worked-with {
    &__skills {
      display: flex;
      flex-wrap: wrap;
      gap: 4px;

      li {
        background: var(--primary-100);
        background-color: rgb(107 114 128);
        color: var(--neutral-100);
        border-radius: 4px;
        width: fit-content;
        text-align: center;
        line-height: 1;
        letter-spacing: 1px;
        display: block;
        padding: 4px 8px;
        font-weight: 600;
        font-size: 11px;
        ////text-transform: uppercase;
      }
    }

    &__tech {
      margin-top: 1rem;
      padding-left: 1.5rem;
      list-style-position: outside;
      li {
        list-style-type: disc;
        font-size: 0.8rem;
      }
    }
  }

  .homepage-experience {
    &__dates {
      font-size: 0.7rem;
      display: block;
      margin: 0 0 0 0;
      text-transform: uppercase;
      font-weight: bold;
    }

    &__location {
      font-style: italic;
      display: block;
      margin: 0 0 1.5rem 0;
      font-size: 0.9rem;
      line-height: 1.2;
    }

    &__title {
      font-weight: bold;
      display: block;
      margin: 1rem 0 1rem 0;
      line-height: 1.2;
    }

    &__list {
      margin: 0.5rem 0;
      list-style-position: outside;
      padding-left: 1.5rem;
      li {
        list-style-type: disc;
        font-size: 0.95rem;
      }
    }
  }
</style>
