---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

import defaultImage from '../assets/img/logo-fusion92.png'
const { icon = 'mdi:cog', title = 'Title', image = null, invertLight = false, invertDark = false } = Astro.props

let classString = ' homepage-experience__logo-wrapper '

if (invertLight) {
  classString += ' invert-light '
}
if (invertDark) {
  classString += ' invert-dark '
}
---

<div class="feature flex flex-col gap-4">
  <div class={classString}>
    {
      image ? (
        <Image src={image} alt={title} width="500" height="500" class="homepage-experience__logo" />
      ) : (
        <Icon name={icon} class="experience-icon text-secondary-300 " />
      )
    }
  </div>
  <div class="content">
    <h3>{title}</h3>
    <div>
      <slot>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, corporis.</slot>
    </div>
  </div>
</div>

<style lang="scss">
  @use '../assets/scss/base/breakpoint' as *;

  .content {
    //padding-right: 130px;
  }

  .homepage-experience {
    &__logo-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px;
      float: right;
      max-width: 30%;
      position: absolute !important;
      top: 0;
      right: 0;

      @media (max-width: 767px) {
        float: none;
      }
    }

    &__logo {
      display: block;
      margin: 0;
      padding: 0;
      max-height: 75px;
      max-width: 200px;
      width: 100%;
      height: auto;
    }
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 0;
    font-weight: 600;
    line-height: 1.3;
    position: relative;
    top: -10px;
  }

  .experience-icon {
    height: 40px;
    width: 40px;
    position: absolute;

    top: 15px;
    right: 15px;

    font-size: 2rem;
    color: var(--secondary-300);
  }

  :global(.invert-light) {
    img {
      filter: invert(1);
    }
  }

  :global(.darkmode .invert-light) {
    img {
      filter: invert(0);
    }
  }

  :global(.invert-dark) {
    img {
      filter: invert(0);
    }
  }

  :global(.darkmode .invert-dark) {
    img {
      filter: invert(1);
    }
  }

  .feature {
    position: relative;
    width: calc(100% - 0.5rem);
    padding: 2rem;

    > * {
      position: relative;
      z-index: 2;
    }

    @include breakpoint(large) {
      width: 100%;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    &::before {
      inset: 0;
      background-color: var(--neutral-100);
      border: 2px solid var(--neutral-500);
      border-radius: 4px;
      box-shadow: 0 0 0 2px var(--neutral-200);
      z-index: 1;
    }

    /*  &::after {
      background-color: var(--action-color);
      inset: 1rem -0.85rem -0.85rem 1rem;
      border-radius: 1rem;
      z-index: 0;
    } */
  }

  :global(.feature [astro-icon]) {
    width: 4rem;
    color: var(--accent-400);
  }

  :global(.darkmode .feature::before) {
    background-color: var(--dark-100);
    box-shadow: 0 0 0 6px var(--dark-100);
  }
</style>
